:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    text-align: center;
    font-size: 4.2em;
    font-weight: 800;
    font-style: italic;
    -webkit-background-clip: text;
    color: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));
}