:root {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    text-align: center;
    font-size: 4.2em;
    font-weight: 800;
    font-style: italic;
    background: linear-gradient(39deg, rgba(254, 207, 89, 1), rgba(255, 241, 204, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    margin-right: auto !important;
    margin-left: auto !important;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.form_input_encrypt {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: inherit;
    color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

